.wpshuttle-page-layout {
    position: relative;
    display: inline-block;
    margin: 0 3px;
}
.wpshuttle-page-layout label {
    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
    line-height: 0;
}

.wpshuttle-page-layout:hover label {
    border: 1px solid #111;
}

.wpshuttle-page-layout img {
    max-width: 90px;
    height: auto;
}

.wpshuttle-page-layout input[type=radio] {
    display: none;
}

.wpshuttle-page-layout input[type=radio]:checked + label {
    border: 1px solid #111;
}

.wpshuttle-page-layout span {
    z-index: 1000;
    position: absolute;
    top: 115px;
    left: 50%;
    margin-left: -60px;
    display: block;
    width: 120px;
    text-align: center;
    background: rgba( 0, 0, 0, 0.75 );
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.wpshuttle-page-layout span:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -5px;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid rgba(0,0,0,0.75);
}

.wpshuttle-page-layout:hover span {
    opacity: 1;
    visibility: visible;
    top: 95px;
}